@model FlyUpCore5.ViewModels.VideosIndexViewModel

@{
    ViewBag.Title = "Videos";
}

<div class="well">

    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("Index", "Videos", FormMethod.Get))
    {
        <div class="form-group form-inline">
            <div class="row">
                <div class="col-md-12">
                    @Html.DropDownList("mysearch", (SelectList)Model.activitiesSL, new { @class = "form-control", onchange = "this.form.submit();" })
                </div>
            </div>
        </div>
    }

    <div class="container">
        <div class="row">
            @foreach (var video in Model.videos)
            {
                <div class="col-md-3">
                    <br />
                    <a href="@Url.Action("Detail", new { id = video.Id })" style="color:black">
                        <h5>@video.Title</h5>
                    </a>

                    <h6>Activity: @video.Activity.Title</h6>

                    <a href="@Url.Action("Detail", new { id = video.Id })">
                        <img src="/images/@video.CoverImageFileName"
                                alt="@video.CoverImageFileName"
                                class="img-fluid" style="border: 5px solid orange;" />
                    </a>
                </div>
            }
        </div>
    </div>

</div>
