@model FlyUpCore5.ViewModels.VideosIndexViewModel

@{
    ViewBag.Title = "Videos";
}

<style>
    .btn {
        margin-bottom: 5px;
        width: 65px;
    }
</style>

<div class="well">

    <a href="@Url.Action("Create")" class="btn btn-outline-dark btn-sm" role="button" style="display:none">Add</a>

    <div class="container">
        @using (Html.BeginForm("Index", "Videos", FormMethod.Get))
        {
            <div class="form-group form-inline">
                <label for="mysearch" class="font-weight-bold mr-sm-2">Videos:</label>
                @Html.DropDownList("mysearch", (SelectList)Model.activitiesSL, new { @class = "form-control", onchange = "this.form.submit();" })
            </div>
        }
    </div>

    <div class="container">
        <div class="row">
            @foreach (var video in Model.videos)
            {
                <div class="col-sm-4 col-md-4">
                    <br />
                    <a href="@Url.Action("Detail", new { id = video.Id })" style="color:black">
                        <h6>@video.Title</h6>
                    </a>

                    <h6>Activity: @video.Activity.Title</h6>

                    <a href="@Url.Action("Detail", new { id = video.Id })">
                        <img src="/images/@video.CoverImageFileName"
                                alt="@video.CoverImageFileName"
                                class="img-fluid" style="border: 5px solid orange;" />
                    </a>
                </div>
            }
        </div>
    </div>

</div>
<br />
